@import '../../../assets/scss/index.scss';

.product-list {
    list-style: none;
    padding-left: 25px;

    .p-item {
        display: flex;
        padding: 10px 0;
        align-items: center;
        font-size: $normal;

        @include for-phone-only {
            flex-direction: column-reverse;
        }

        @include for-tablet-portrait-up {
            flex-direction: row;
        }

        .img-cal {
            display: flex;
            align-items: center;

            @include for-phone-only {
                align-items: baseline;
            }

            @include for-tablet-portrait-up {
                flex-direction: row;
            }
        }

        .desc {
            color: $header_gray;
        }

        .dish-name {
            position: relative;
            font-size: $xlarge;
            margin-top: 0;

            &::before,
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
            }

            &::before {
                border: 1px solid $green;
                height: 16px;
                width: 16px;
                left: -25px;
                top: 0;
            }

            &::after {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: $green;
                top: 4px;
                left: -21px;
            }

            &.non-veg {
                &::after {
                    background-color: $non_veg;
                }

                &::before {
                    border-color: $non_veg;
                }
            }
        }

        .prize {
            font-weight: 500;
        }

        .product-details {
            flex: 1;
        }

        .calorie-details {
            display: flex;
            margin-right: 20px;

            p {
                margin-top: 0;
            }

            .prize {
                flex: 1;
            }
        }

        .product-image {
            border-radius: 20px;
            display: inline-block;
            width: 150px;
            height: 100px;
            background-size: cover;

            @include for-phone-only {
                width: 100px;
                height: 70px;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid $light_gray;
        }

        .not-available {
            color: $non_veg;

            &.customization {
                margin: 10px 0;
            }
        }
    }

    .add-delete {
        color: $white;
        min-width: 100px;
        display: inline-flex;
        justify-content: space-around;
        border-radius: 50px;
        align-items: center;

        span {
            flex: 1;
            display: inline-block;
            text-align: center;
            padding: 10px;
            transition: all 0.3s ease;
            background-color: $add_delete_green;
        }

        .add,
        .delete {
            cursor: pointer;

            &:hover {
                background-color: $green;
            }
        }

        .add {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        .delete {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;

            &.disabled {
                pointer-events: none;
                color: $lightest_gray;
            }
        }
    }
}

.tab-details {
    display: none;

    &.active {
        display: block;
    }
}

.category-wrapper {

    .category-name,
    .addon-name {
        text-transform: capitalize;
    }

    .category-name {
        font-size: $large;
    }
}

.addon-wrapper {
    display: flex;

    .addon-item {
        display: inline-flex;
        flex-direction: column;
        border: 1px solid #ddd;
        padding: 10px 5px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 10px;

        &.selected {
            box-shadow: 1px 1px 5px 0px #60cae6;
        }

        .addon-name {
            font-size: $normal;
            margin-top: 0;
            text-align: center;
        }

        .details {
            display: flex;
            font-size: $small;

            .left,
            .right {
                display: flex;
                flex-direction: column;
                flex: 1;

                .label {
                    color: $header_gray;
                    margin-bottom: 5px;
                }
            }

            .left {
                margin-right: 10px;
            }

            .right {
                margin-left: 10px;
                text-align: right;
            }
        }

        &:hover:not(.selected) {
            box-shadow: 1px 1px 5px 0px $lightest_gray;
        }
    }
}

.product-name {
    display: flex;

    .name-prize {
        flex: 1;
    }
}

.customization-section {
    border: 1px solid $off_white;
    border-radius: 10px;
    margin-top: 20px;

    .content {
        display: none;
        padding: 10px;
    }

    .ip-check {
        display: none;

        &-label {
            color: $non_veg;
            padding: 10px;
            display: block;
            cursor: pointer;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                right: 15px;
                top: 15px;
                display: inline-block;
                width: 15px;
                height: 3px;
                background-color: $header_gray;
                transition: all 0.3s ease;
            }

            &::after {
                transform: rotate(90deg);
            }
        }

        &:checked {
            &+.ip-check-label::after {
                transform: rotate(0deg);
            }

            &~.content {
                display: block;
            }
        }
    }
}